TOKEN=YOUR TOKEN BOT ID - https://discord.com/developers/applications/1285394679260647424/bot
CLIENT_ID=YOUR BOTS CLIENT ID - https://discord.com/developers/applications/1285394679260647424/oauth2
GUILD_ID=YOUR GUILD ID - CODIGO COPIADO DEL DISCORD