TOKEN=YOUR TOKEN BOT ID - https://discord.com/developers/applications/1285394679260647424/bot
CLIENT_ID=YOUR BOTS CLIENT ID - https://discord.com/developers/applications/1285394679260647424/oauth2
GUILD_ID=YOUR GUILD ID - CODIGO COPIADO DEL DISCORD
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/database_dev
MONGODB_URI_PROD=mongodb+srv://user:password@cluster.mongodb.net/database_prod
IS_PROD=FALSE
BOT_OWNER_ID=YOUR_USER_ID
GUILD_COMMANDS=true